{% extends "core/base3.html" %}
  
{% block content %}
    <div class="col-md-12 mt-1">
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead style="position: sticky;top: 0" class="thead-light">
                <tr>
                  <th class ="header" scope="col">Item Code</th>
                  <th class ="header" scope="col">Item Description</th>
                  <th class ="header" scope="col">MRP</th>
                  <th class ="header" scope="col">BP</th>
                  <th class ="header" scope="col">MOQ</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id = "tbody">
                {% for item in items %}
                <tr>
                  <td>{{item.item_code}}</td>
                  <td>{{item.item_description}}</td>
                  <td>{{item.MRP}}</td>
                  <td>{{item.BP}}</td>
                  <td>{{item.MOQ}}</td>
                  <td><a href="#"><button class="btn btn-warning btn-edit btn-block btn-sm" data-sid = {{item.id}}>EDIT</button></a>
                    <a href="#"><button class="btn btn-danger btn-del btn-block btn-sm mt-1" data-sid="{{item.id}}">DELETE</button></a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock content %}