<div class="col-sm-3" style="padding: 30px;border:radius 30px;">
    <h4 class="text-center alert alert-danger">MENU</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'create-party-and-quote' %}"><button class="btn btn-danger btn-block btn-sm">NEW QUOTATION</button></a></li>
        <li class="list-group-item"><a href="{% url 'parties' %}">All Parties</a></li>
        <li class="list-group-item"><a href="{% url 'quotations' %}">All Quotations</a></li>
        <li class="list-group-item"><a href="{% url 'item-master-view' %}">Item Master View</a></li>
        <li class="list-group-item"><a href="{% url 'party-master-view' %}">Party Master View</a></li>
      </ul>
</div>